<footer>
  <div>
	<p>Icons made by <a href="http://www.flaticon.com/authors/simpleicon">SimpleIcon</a> and is licensed by <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons BY 3.0</a></p>
    <p>This page is maintained by <a href="mailto:it@leprosymission.org">Jon</a> and licenced under a <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p> <a href="https://github.com/jon-tlmi/data-permissions-catalogue">View on GitHub</a>.</p>
  </div>
</footer>
