<header>
  <a id="logo" href="https://projectsbyif.com">Projects by IF</a>
  <a id="menu" href="#">Menu</a>
</header>

<div id="intro">
  <h1>{{ site.title }}</h1>
  <p>{{ site.description }} Maintained by <a href="mailto:it@leprosymission.org">Jon</a>. <a href="https://github.com/jon-tlmi/data-permissions-catalogue">View on GitHub</a>.</p>
</div>

<ul id="contents">
  {% assign posts = site.posts | sort:"title"  %}

  {% for p in posts %}
    <li>
      <p><a href="#{{ p.slug }}">{{ p.title }}</a></p>
    </li>
  {% endfor %}
</ul>
